In [7]:
import pandas as pd

In [67]:
df=pd.read_csv("/content/drive/MyDrive/BCG_GENAI/kamt.csv",sep=";")
df.head(10)

,company,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities.
0,apple-21,"365,817","94,68","351,002","287,912","104,038"
1,apple-22,"394,328","99,803","352,755","302,083","122,151"
2,apple-23,"383,285","96,995","352,583","290,437","110,543"
3,microsfot-21,"168,088","61,271\n\n \n\n","333,779","191,791","76,74"
4,microsoft-22,"198,270\n\n","72,738","364,84","198,298\n","89,035\n\n"
5,microsoft-23,"211,915","72,361","411,976\n\n","205,753\n\n","87,582\n\n"
6,tesla-21,"53,823","5,644","62,131","30,548","11,497"
7,tesla-22,"81,462","12,587","82,338","63,44","14,724"
8,tesla-23,"48,256","2,614","90,591","38,409","5,578"

In [68]:

df = df.rename(columns={"company ": "company"})
df = df.rename(columns={"Cash Flow from Operating Activities.": "Cash Flow from Operating Activities"})
df.head(10)

,company,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities
0,apple-21,"365,817","94,68","351,002","287,912","104,038"
1,apple-22,"394,328","99,803","352,755","302,083","122,151"
2,apple-23,"383,285","96,995","352,583","290,437","110,543"
3,microsfot-21,"168,088","61,271\n\n \n\n","333,779","191,791","76,74"
4,microsoft-22,"198,270\n\n","72,738","364,84","198,298\n","89,035\n\n"
5,microsoft-23,"211,915","72,361","411,976\n\n","205,753\n\n","87,582\n\n"
6,tesla-21,"53,823","5,644","62,131","30,548","11,497"
7,tesla-22,"81,462","12,587","82,338","63,44","14,724"
8,tesla-23,"48,256","2,614","90,591","38,409","5,578"

In [69]:
# Replace "microsfot-21" with "microsoft-21" in the 'company' column
df['company'] = df['company'].replace('microsfot-21', 'microsoft-21')

In [70]:
import pandas as pd

df[['company', 'year']] = df['company'].str.extract(r'([a-zA-Z]+)-(\d+)')

# Reorder columns to have company and year first
cols = ['company', 'year'] + [col for col in df.columns if col not in ['company', 'year']]
df = df[cols]

# Display the modified DataFrame
print(df)

     company year Total Revenue       Net Income Total Assets  \
0      apple   21       365,817            94,68      351,002
1      apple   22       394,328           99,803      352,755
2      apple   23       383,285           96,995      352,583
3  microsoft   21       168,088  61,271\n\n \n\n      333,779
4  microsoft   22   198,270\n\n           72,738       364,84
5  microsoft   23       211,915           72,361  411,976\n\n
6      tesla   21        53,823            5,644       62,131
7      tesla   22        81,462           12,587       82,338
8      tesla   23        48,256            2,614       90,591

  Total Liabilities Cash Flow from Operating Activities
0           287,912                             104,038
1           302,083                             122,151
2           290,437                             110,543
3           191,791                               76,74
4         198,298\n                         89,035\n\n
5      205,753\n\n                           87,582\n\n
6            30,548                              11,497
7             63,44                              14,724
8            38,409                               5,578

In [72]:
import pandas as pd

# Assuming your DataFrame is named 'df'

# Columns to clean and convert to numeric
cols_to_clean = ['Total Revenue', 'Net Income', 'Total Assets', 'Total Liabilities', 'Cash Flow from Operating Activities']

# Remove commas, newlines, and spaces, and convert to numeric
for col in cols_to_clean:
    df[col] = (
        df[col]
        .astype(str)  # Ensure values are strings
        .str.replace(r"[,\n\s]+", "", regex=True)  # Remove commas, newlines, and spaces
        .replace("", "0")  # Replace empty strings with zero (if any)
        .astype(float)  # Convert to numeric
    )

# Display the cleaned DataFrame
print(df)

     company year  Total Revenue  Net Income  Total Assets  Total Liabilities  \
0      apple   21       365817.0      9468.0      351002.0           287912.0
1      apple   22       394328.0     99803.0      352755.0           302083.0
2      apple   23       383285.0     96995.0      352583.0           290437.0
3  microsoft   21       168088.0     61271.0      333779.0           191791.0
4  microsoft   22       198270.0     72738.0       36484.0           198298.0
5  microsoft   23       211915.0     72361.0      411976.0           205753.0
6      tesla   21        53823.0      5644.0       62131.0            30548.0
7      tesla   22        81462.0     12587.0       82338.0             6344.0
8      tesla   23        48256.0      2614.0       90591.0            38409.0

   Cash Flow from Operating Activities
0                             104038.0
1                             122151.0
2                             110543.0
3                               7674.0
4                              89035.0
5                              87582.0
6                              11497.0
7                              14724.0
8                               5578.0

In [73]:
df

,company,year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities
0,apple,21,365817.0,9468.0,351002.0,287912.0,104038.0
1,apple,22,394328.0,99803.0,352755.0,302083.0,122151.0
2,apple,23,383285.0,96995.0,352583.0,290437.0,110543.0
3,microsoft,21,168088.0,61271.0,333779.0,191791.0,7674.0
4,microsoft,22,198270.0,72738.0,36484.0,198298.0,89035.0
5,microsoft,23,211915.0,72361.0,411976.0,205753.0,87582.0
6,tesla,21,53823.0,5644.0,62131.0,30548.0,11497.0
7,tesla,22,81462.0,12587.0,82338.0,6344.0,14724.0
8,tesla,23,48256.0,2614.0,90591.0,38409.0,5578.0

In [74]:
# Assuming your DataFrame is named 'df' and has 'company' and 'year' columns

# Convert the relevant columns to numeric type
numeric_cols = ['Total Revenue', 'Net Income', 'Total Assets', 'Total Liabilities', 'Cash Flow from Operating Activities']
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Now, proceed with the year-over-year change calculation:
for metric in numeric_cols:
    growth_col = metric + ' Growth (%)'
    df[growth_col] = df.groupby('company')[metric].pct_change() * 100
# Explore other aggregate functions or groupings
# Example: Calculate average revenue by company
avg_revenue_by_company = df.groupby('company')['Total Revenue'].mean()
print("\nAverage Revenue by Company:")
print(avg_revenue_by_company)

# Example: Group by company and year to calculate sum of assets
assets_by_company_year = df.groupby(['company', 'year'])['Total Assets'].sum()
print("\nTotal Assets by Company and Year:")
print(assets_by_company_year)

Average Revenue by Company:
company
apple        381143.333333
microsoft    192757.666667
tesla         61180.333333
Name: Total Revenue, dtype: float64

Total Assets by Company and Year:
company    year
apple      21      351002.0
           22      352755.0
           23      352583.0
microsoft  21      333779.0
           22       36484.0
           23      411976.0
tesla      21       62131.0
           22       82338.0
           23       90591.0
Name: Total Assets, dtype: float64

In [76]:

# Calculate the average of 'Total Assets' for each company
average_assets = df.groupby('company')['Total Assets'].mean()

# Add the average assets as a new column to the DataFrame
df['Average Assets'] = df['company'].map(average_assets)

In [75]:
# prompt: alculatethsoe now Use pandas to calculate year-over-year changes for each financial metric. You can do this by creating new columns in your DataFrame that represent the percentage change from one year to the next.
# df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue'].pct_change() * 100
# df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income'].pct_change() * 100 ad them tothe dtaframeas columsn

# Assuming your DataFrame is named 'df' and has 'company' and 'year' columns
# and the necessary numeric columns have already been cleaned and converted.

# Calculate year-over-year changes for each financial metric
numeric_cols = ['Total Revenue', 'Net Income', 'Total Assets', 'Total Liabilities', 'Cash Flow from Operating Activities']

for metric in numeric_cols:
    growth_col = metric + ' Growth (%)'
    df[growth_col] = df.groupby('company')[metric].pct_change() * 100

# Display the DataFrame with the added growth columns
df

,company,year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Total Revenue Growth (%),Net Income Growth (%),Total Assets Growth (%),Total Liabilities Growth (%),Cash Flow from Operating Activities Growth (%)
0,apple,21,365817.0,9468.0,351002.0,287912.0,104038.0,NaN,NaN,NaN,NaN,NaN
1,apple,22,394328.0,99803.0,352755.0,302083.0,122151.0,7.793788,954.108576,0.499427,4.921990,17.409985
2,apple,23,383285.0,96995.0,352583.0,290437.0,110543.0,-2.800461,-2.813543,-0.048759,-3.855232,-9.502992
3,microsoft,21,168088.0,61271.0,333779.0,191791.0,7674.0,NaN,NaN,NaN,NaN,NaN
4,microsoft,22,198270.0,72738.0,36484.0,198298.0,89035.0,17.956071,18.715216,-89.069414,3.392756,1060.216315
5,microsoft,23,211915.0,72361.0,411976.0,205753.0,87582.0,6.882030,-0.518299,1029.196360,3.759493,-1.631942
6,tesla,21,53823.0,5644.0,62131.0,30548.0,11497.0,NaN,NaN,NaN,NaN,NaN
7,tesla,22,81462.0,12587.0,82338.0,6344.0,14724.0,51.351653,123.015592,32.523217,-79.232683,28.068192
8,tesla,23,48256.0,2614.0,90591.0,38409.0,5578.0,-40.762564,-79.232542,10.023319,505.438209,-62.116273

In [78]:
df.to_csv("/content/drive/MyDrive/BCG_GENAI/kamt_cleaned.csv",index=False)